<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.kuba.androidframework"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="14" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:name="cz.kuba.androidframework.environment.GlobalState">

        <meta-data android:name="AA_DB_NAME" android:value="ActiveAndroid.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
    </application>
</manifest>
